<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Betalgo.OpenAI.GPT3" version="6.7.3" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" />
  <package id="Newtonsoft.Json" version="13.0.3" />
  <package id="Newtonsoft.Json.Bson" version="1.0.1" />
  <package id="OpenAI" version="1.6.0" />
  <package id="System.Interactive.Async" version="5.0.0" />
  <package id="System.Linq.Async" version="5.0.0" />
</packages>